// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
  mode "2880x1800@90"
  scale 1.5
  variable-refresh-rate on-demand=true
  position x=0 y=0
}

//LG-FHD HdM USB-C
output "DP-1" {
    mode "1920x1080@100" // Set resolution and refresh rate
    position x=0 y=-1080
    scale 1 // No scaling (use 2 for HiDPI)
}

//LG-FHD HdM USB-C
output "DP-2" {
    mode "1920x1080@100" // Set resolution and refresh rate
    position x=0 y=-2160
    scale 1 // No scaling (use 2 for HiDPI)
}

//LG-Ultrawide HDMI-A-1
/- output "HDMI-A-1" {
  mode "3440x1440@85"
  position x=2880 y=0
  scale 1
}

output "HDMI-A-1" {
  mode "2560x1440@60"
  scale 1
}
