layout {
        gaps 6  // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column
	focus-ring {
	width 2
	}

        always-center-single-column
        background-color "transparent" // <- needed for noctalia-shell to set wallpaper
default-column-width { proportion 0.5; }
        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}
    }

window-rule {
    match app-id="zen$"
    match app-id="firefox$"
    match app-id="chrome$"
    match app-id="discord$" 
    open-maximized true
}
