layout {

    focus-ring {
        active-color   "#acc7ff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#acc7ff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#acc7ff"
        inactive-color "#0b458e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#acc7ff80"
    }
}

recent-windows {
    highlight {
        active-color "#acc7ff"
        urgent-color "#ffb4ab"
    }
}
